'context-menu': []
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Menu Manager'
      'submenu': [
        {
          'label': 'Show'
          'command': 'menu-manager:show'
        }
      ]
    ]
  }
]
